*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.inform{
 padding: 20px;
  


}

header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
  height: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
header h1{
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

#info {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.personal-info {
  flex: 1;
}

.skill-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
#contact{
  justify-content: flex-end;
}
#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -330px;
 justify-content: flex-end;
 justify-self: flex-end;
}

#contact form input,
#contact form textarea{
  margin: 10px 100px;
  width: 20%;
  padding: 20px;
  border-radius: 60px;
  margin-top: 0px;
}
#contact form button {
  width: 10%;
  border-radius: 60px;
  background-color: #6975E8 ;
  color: rgb(255, 255, 255);
  padding: 10px;
  cursor: pointer;

  
}
footer {
  background-color: #ffffff;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  height: 50px;
}

.inform {
  display: flex;
  justify-content: space-between;  
  align-items: center;              
  margin-top: 550px;
}

.InformPessoas{
  width: 100px;
  padding: 10px;
  border: 1px ;
  text-align: center;

  
}

.inform1{
  width: 300;
  padding: 20px;
  font-size: 18px;
  font-weight: 300px;
  line-height: 45px;
  text-align: left;
  font-size: x-large;

}

.inform2{
  width: 300;
  padding: 10px;
  font-size: 18px;
  font-weight: 300px;
  line-height: 45px;
  text-align: left;
  
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.app{
  align-items: center;
}

.card-container {
  justify-content: center;
  display: flex;
  margin-top: 99px;
  gap: 50px;
}

.card1 {
  background: #F1C2B0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 250px; 
  height: 250px;
  border-radius: 16px;
  
}
.card2 {
  background: #F9EB98;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 250px; 
  height: 250px;
  border-radius: 16px;
  
}
.card3 {
  background: #C0D9DD;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 250px;
  height: 250px;
  border-radius: 16px;
}
.card4 {
  background: #6975E8;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 250px; 
  height: 250px;
  border-radius: 16px;
 
}

.enviar-button {
  background-color: #000000;
  color: white; 
  padding: 15px 70px; 
  font-size: 16px; 
  border: none; 
  cursor: pointer;
  border-radius: 40px; 
 margin-top: -2000px;

 
}

.enviar-button2-1 {
  background-color: #ffffff;
  color: rgb(0, 0, 0); 
  padding: 15px 70px; 
  font-size: 16px; 
  border: none; 
  cursor: pointer;
  border-radius: 40px;
  margin-top: 200px;
  border: 1px solid #000; 
 
}

.enviar-button2-2 {
  background-color: #ffffff;
  color: rgb(0, 0, 0); 
  padding: 15px 70px; 
  font-size: 16px; 
  border: none; 
  cursor: pointer;
  border-radius: 40px;
  margin-top: 155px;
  border: 1px solid #000; 
 
}

.enviar-button2 {
  background-color: #ffffff;
  color: rgb(0, 0, 0); 
  padding: 15px 70px; 
  font-size: 16px; 
  border: none; 
  cursor: pointer;
  border-radius: 40px;
  margin-top: 75px;
  border: 1px solid #000; 
 
}
.header-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: x-large;

}

.card-container-2 {
  justify-content: center;
  display: flex;
  margin-top: 99px;
  gap: 50px;
  
}

.card1-2 {
  background:#6975E8; 
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 240px;
  height: 389px;
  border-radius: 16px;
}
.card2-2 {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 240px;
  height: 389px;
  border-radius: 16px;
  
}
.card3-2 {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 240px;
  height: 389px;
  border-radius: 16px;
  
}

.p{
  font-family: Roboto Mono;
}
.card3-2 img {
  width: 200px;
  height: auto;
}

.card1 img{
  width: 200px;
  height: auto;
}

.inform3{
  padding: 90px;
  font-size: x-large;
}

.container {
  display: flex;
  margin-top: -100px;
}

.inform3 {
  flex: 11;
  padding-right:-50px; /* Adicione um espaçamento à direita */
}

